<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
<<<<<<<< HEAD:Phoenix.Api/Properties/PublishProfiles/Egretta.pubxml
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>
    </SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e4229c74-253a-4da0-898e-987384d01db0</ProjectGuid>
    <MSDeployServiceURL>51.12.81.182</MSDeployServiceURL>
    <DeployIisAppPath>Egretta</DeployIisAppPath>
========
    <ResourceId>/subscriptions/21af8426-0b31-4244-9a9f-50c08ee90ee4/resourceGroups/PhoenicopterusRsrcG/providers/Microsoft.Web/sites/phalacrocorax</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://phalacrocorax.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e4229c74-253a-4da0-898e-987384d01db0</ProjectGuid>
    <MSDeployServiceURL>phalacrocorax.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>phalacrocorax</DeployIisAppPath>
>>>>>>>> 16f2e0b9c1f030e45abd8550d9959424290dffd4:Phoenix.Api/Properties/PublishProfiles/phalacrocorax - Web Deploy.pubxml
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
<<<<<<<< HEAD:Phoenix.Api/Properties/PublishProfiles/Egretta.pubxml
    <UserName>phoenix_deploy</UserName>
    <_SavePWD>True</_SavePWD>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
========
    <UserName>$phalacrocorax</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
>>>>>>>> 16f2e0b9c1f030e45abd8550d9959424290dffd4:Phoenix.Api/Properties/PublishProfiles/phalacrocorax - Web Deploy.pubxml
  </PropertyGroup>
</Project>